/* CUSTOMIZABLE */
body {
    font-family: 'Roboto', sans-serif;
    color: #eee9e9;
    background: #557a95;
}
a,
a:link,
a:visited {
    color: #5d5c61;
}
.film-info a,
.film-info a:link,
.film-info a:visited {
    color:#938e94;
}
a:hover,
a:active,
.film-info a:hover,
.film-info a:active {
    color: #557A95;
}
a.btn {
    color: #eee9e9;
}
.btn{
    color: #eee9e9;
}
.bg-dark-10 {
    background: #938e94;
}
.bg-dark-30 {
    background: #5d5c61;
}
.card {
    background: #5d5c61;
}
.card-body {
    background: #938e94;
}
.card-header .btn:hover {
    color: #557a95;
}
#download-arrow {
    color: #5d5c61;
}
#download-arrow:hover {
    color: #557a95;
}

/* NOT CUSTOMIZABLE */
.movie-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
}
.movie-poster {
    min-width: 175px;
}
.top-round {
    border-radius: 4px 4px 0 0;
}
.bottom-round {
    border-radius: 0 0 4px 4px;
}
.fa-imdb {
    color: #f3ce13;
}
.fa-instagram {
    color: #f46f30;
}
.fa-linkedin {
    color: #007bb5;
}
.fa-twitter-square {
    color: #1da1f2;
}
.fa-youtube {
    color: #ff0000;
}
.fa-facebook-square {
    color: #3b5998;
}